<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document1</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>



<body>

<div class="container">

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" >Customer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a th:href="@{/customer}" class="nav-item nav-link" >Customers</a>
      <a th:href="@{/product}" class="nav-item nav-link" >Products</a>
      <a class="nav-item nav-link" >ShoppingCarts</a>
    </div>
  </div>
</nav>
  
  <h1>Create New Employee</h1>
  
  <form action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="post">
  
  <div class="form-group row">
    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName">
    </div>
  </div>
  
     <div class="form-group row">
    <label for="inputAge" class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{age}" class="form-control" id="inputAge">
    </div>
  </div>
  
  
    
   <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" th:field="*{email}" class="form-control" id="inputEmail">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" th:field="*{password}" class="form-control" id="inputPassword">
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="inputAddress">Street Name</label>
    <input type="text" th:field="*{address.streetName}" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  
  <div class="form-group">
    <label for="inputAddress2">Street number</label>
    <input type="text" th:field="*{address.streetNumber}" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" th:field="*{address.cityName}" class="form-control" id="inputCity">
    </div>
   
    <div class="form-group col-md-2">
      <label for="inputZip">Zip Code</label>
      <input type="text" th:field="*{address.zipCode}" class="form-control" id="inputZip">
    </div>
  </div>
  
  <button type="submit" class="btn btn-info col-2">Save Customer</button>
  
  </form>
  
  
  <a th:href="@{/customer}">Back to Customers List</a>
  
  
  
  
  
  </div>

 
 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>